<footer class="mt-auto">
  <div class="container-fluid bg-dark text-light px-5 pb-4">
    <div class="nav flex justify-content-between">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">contact</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">student login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">admin login</a>
        </li>
      </ul>
      <div class="align-self-center">
        <p>&copy; All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
