<div class="section p-4 hero">
    <div class="container">
        <div class="d-lg-flex text-lg-left text-center">
            <div class="text">
                <h1>
                    Welcome to the exam portal
                </h1>
                <p class="lead">You can view, contact and get the exam results here...</p>
                <button class="btn btn-primary btn-lg">See your Results</button>
            </div>
        </div>
    </div>
</div>