html {
  height: 100vh;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

@media only screen and (max-width: 768px) {
  .form {
    width: 100% !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    color: black !important;
    border-bottom: 1px solid green !important;
    border-top: 1px solid green !important;
  }
  label {
    font-size: 8px !important;
  }
  .form-control {
    width: 80% !important;
    font-size: 12px !important;
    padding: 10px !important;
  }
}


