<%-include("../partials/hero.ejs") %>

<div class="section p-4 mt-5">
  <div
  class="container"
>
 <div class="d-lg-flex justify-content-between">
  <div class="card mb-3 text-center">
    <img
      src="img/teacherIcon.png"
      style="width: 400px !important;"
      class="card-img-top w-50 align-self-center"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Teacher & Admin</h5>
      <p class="card-text">
        This page is designed for teachers and administration of the Schools
        <br>
        <span class="text-danger"><strong>Students are not allowed</strong></span>
      </p>
      <a href="#" class="btn btn-primary">Log in</a>
    </div>
  </div>
  <div class="card mb-3 text-center">
    <img
      src="img/studentIcon.png"
      style="width: 18rem"
      class="card-img-top align-self-center"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Students</h5>
      <p class="card-text">
        This page is designed for the students and their parent.
        please click on the button to log in
      </p>
      <a href="/student/login" class="btn btn-primary">log in</a>
    </div>
  </div>
</div>
 </div>
  </div>

</div>